:root {
  --color-1: #FFFFFF;
  --color-2: #000000;
  --color-3: #6C63FF;
  --color-4: #D0CDE1;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-2);
}

li {
  list-style: none;
}

.btn {
  white-space: nowrap;
  background-color: #6C63FF;
  font-size: 3rem;
  border: none;
  width: fit-content;
  padding: 1% 5%;
  cursor: pointer;
}